<!DOCTYPE html>
<html lang="en">
<head>
    <title>自定义模板函数</title>
</head>
<body>

<h1>测试自定义模板 kua</h1>
{{ kua .}}

<h1>测试检讨Template语法</h1>
<hr>
{{template "ul.tmpl"}}
<hr>

{{/*嵌套另外一个模板*/}}
{{template "ol.tmpl"}}

</body>
</html>

{{/*通过define定义一个模板*/}}
{{ define "ol.tmpl"}}
    <ol>
        <li>吃饭</li>
        <li>睡觉</li>
        <li>打游戏</li>
    </ol>
{{end}}

